.analyzer-page {
 /*Elemző főoldal*/
    height: 13rem
}

.main-text {
    /*Kérdőív címe és leírása*/
    margin: 0;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.question-list {
    /*Kérdés lista*/
    height: 58rem;
    margin: 0;
    list-style: none;
    padding: 0;
}

.question-list-item {
    /*Kérdés lista elem*/
    font-weight: bolder;
}

.question-box {
    /*Kérdés doboza*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.question-text {
    /*Kérdés szövege*/
    font-size: 1.1rem;
   
}

.answer-list {
    /*Válasz lista*/
    border: 2px solid black;
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#8e8ea1;
    border-radius: 1rem;
}

.answer-list-text {
    /*Válasz szövege ha a kérdés nem kiválasztós volt*/
    font-size: 1rem;
}