.analyzer-page {
 /*Elemző főoldal*/
    height: 13rem
}

.main-text {
    /*Kérdőív címe és leírása*/
    margin: 0;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.question-list {
    /*Kérdés lista*/
    height: 48rem;
    background-color:#8e8ea1;
    margin: 0;
}

.question-list-item {
    /*Kérdés lista elem*/
}

.question-box {
    /*Kérdés doboza*/
}

.question-text {
    /*Kérdés szövege*/
}

.answer-list {
    /*Válasz lista*/
}

.answer-list-text {
    /*Válasz szövege ha a kérdés nem kiválasztós volt*/
}

button {
    margin: 2rem;
}