.dashboard-page {
    /*Felhasználó kezelőfelület oldala*/
}

.dashboard-header {

}

.dashboard-header-image-box {
    /*Header logót tartalmazó doboz*/
}

.dashboard-header-image {
    /*Header logó */
}

.dashboard-main-page {
    /*Felhasználói kezelőfelület főoldal*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-action-button {
    /*Felhasználó kezelőfelületén megjelenő gombokat tartalmazó doboz*/  
}

.dashboard-button {
    /*Felhasználó kezelőfelületén megjelenő gombok*/    
}

.dashboard-main-page-title {
    /*Felhasználó kezelőfelületén megjelenő Saját kérdéssorok szövege*/ 
    text-align: center;
    font-size: 2rem;
    padding: 3rem 2rem 0 2rem;
    font-weight: bold;
}
