.questionnaire-page {

}

.questionnaire-header-card {
    
}

.questionnaire-card-list {

}

.questionnaire-title {

}

.questionnaire-description {

}

.questionnaire-card-list-item {
    border: 1px solid red;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.questionnaire-question-box {
    text-align: left;

}

.questionnaire-question-title {

}

.questionnaire-question-description {

}

.questionnaire-answers-list {

}

.questionnaire-answers-list-item {
    list-style: none;
}

.questionnaire-answer-icon {

}

.active {

}

.questionnaire-answer-text {

}

.questionnaire-answer-type-box {

}

.questionnaire-answer-type-text {

}

.questionnaire-button-box {

}

.questionnaire-button-text {
    
}