.questionnaire-page {

}

.questionnaire-header-card {
    
}

.questionnaire-card-list {

}

.questionnaire-title {

}

.questionnaire-description {

}

.questionnaire-card-list-item {

}

.questionnaire-question-box {

}

.questionnaire-question-title {

}

.questionnaire-question-description {

}

.questionnaire-answers-list {

}

.questionnaire-answers-list-item {
    list-style: none;
}

.questionnaire-answer-icon {

}

.active {

}

.questionnaire-answer-text {

}

.questionnaire-answer-type-box {

}

.questionnaire-answer-type-text {

}

.questionnaire-button-box {

}

.questionnaire-button-text {
    
}