.search-box {
    /*Keresődoboz*/
    /* border: 1px solid #000;
    width: 25rem;
    height: 30rem;
    border-radius: 1rem; */
}

.search-box-title {
    /*Keresődoboz címe*/
    font-size: 1.5rem;
    color: rgba(2,0,36,1);
    font-weight: bold;
}

.search-box-id-input-box {
    /*Kereső doboz input field doboza*/
}

.search-box-id-input {
    /*Kereső doboz input field szövege*/
    /*background-color: rgba(128, 125, 125, 0.247);*/
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    color: black;
    font-size: 1rem;
    text-align: center;
    /*box-shadow: inset 0 0 1rem rgba(1, 10, 33, 0.742);*/
}

.search-box-button-box {
    /*Kereső doboz gomb doboza*/
}

.search-box-button {
    /*Kereső doboz gomb szövege*/
}