.search-box {
    /*Keresődoboz*/
}

.search-box-title {
    /*Keresődoboz címe*/
    font-size: 1.5rem;
    color: rgba(2,0,36,1);
    font-weight: bold;
}

.search-box-id-input-box {
    /*Kereső doboz input field doboza*/
}

.search-box-id-input {
    /*Kereső doboz input field szövege*/
}

.search-box-button-box {
    /*Kereső doboz gomb doboza*/
}

.search-box-button {
    /*Kereső doboz gomb szövege*/
}