.UserQuestionnairesList-box {
    /*Felhasználóhoz tartozó kérdőívek boxa*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserQuestionnairesList-list {
    /*Felhasználóhoz tartozó kérdőívek listája*/
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.UserQuestionnairesList-list-item {
    /*Felhasználóhoz tartozó kérdőívek listaeleme*/
    padding: 0.6rem;
    cursor: pointer;
    background-color: rgb(58, 58, 150);
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    width: 20rem;
    text-transform: uppercase;
    font-weight: 600;
    height: 10rem;
}

.UserQuestionnairesList-list-item:hover {
    background-color: rgba(132, 159, 229, 0.396);
    color: rgba(2,0,36,1);
    box-shadow: inset 0 0 1rem rgba(1, 10, 33, 0.742);
     
 }

 .UserQuestionnairesList-list-item-box { 
    /*Felhasználóhoz tartozó kérdőívek listaeleméhez tartozó szövegdoboz
      */
      font-weight: bolder;
}

div {
    text-align: center;
}